/* You can add global styles to this file, and also import other style files */

.homepage{
    color: blue;
    text-align: center;
    font-size: 22px;
    margin-top: 180px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-elevation-z5{
    position: relative;
    z-index: 2;
}
.mat-sidenav a:hover{
    color: crimson;
}
.img-fluid rounded shadow-lg
{
	border-radius: 100%;
}

.about-wrapper__image
{
	border-radius: 100%;
}